/**
 *
 * Copyleft 2018, 2021 Bartavi (Bart Groeneveld)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 */

#world {
	margin: auto -1rem;
	margin-bottom: 1.5rem;
	padding: 0;
	height: 250px;
	background-image: url('../img/world.svg');
	background-repeat: repeat-x;
	position: relative;
	text-align: center;
}

.vehicle {
	bottom: 4px;
}

#control table {
	table-layout: fixed;
	width: 100%;
	border-collapse: separate;
	border-spacing: 1rem;
	border: 0;
	margin: -1rem;
}

#brake button {
	background-color: firebrick;
}

#brake button:enabled:hover, button:focus {
	box-shadow: 0.25rem 0.25rem 0.5rem rgb(76, 15, 15);
}

#brake button:enabled:active {
	box-shadow: 0 0 0.5rem rgb(76, 15, 15);
}

#time-distance {
	display: inline-block;
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	padding: 0.5rem;
	background-color: rgba(56, 56, 56, 0.333); /* dimgray, but 1/3 transparent */
	text-align: left;
}

#time-distance th, #time-distance td {
	margin: 0;
	border: 0;
	padding-right: 1rem;
}

#time-distance td {
	text-align: right;
}

#time-distance tr:last-child {
	border-top: 0.25rem solid floralwhite;
}

#configuration input:invalid {
	box-shadow: none;
}

#configuration > fieldset {
	float: left;
}

