/**
 *
 * Copyleft 2018, 2021 Bartavi (Bart Groeneveld)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 */

/* Note to self: this stylesheet is also used in copying.html */

.center {
	max-width: 700px;
	margin: 0 auto;
}

.center > * {
	box-shadow: 0 0 0.5rem black;
	padding: 3rem;
	margin-bottom: 3rem;
}

header {
	border-radius: 0 0 0.5rem 0.5rem;
}

main {
	border-radius: 0.5rem 0.5rem;
}

footer {
	border-radius: 0.5rem 0.5rem 0 0;
	margin-bottom: 0 !important;
}
