/**
 *
 * Copyleft 2018, 2021 Bartavi (Bart Groeneveld)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * Note: the font itself has its own license.
 *
 */

 /* Keynames are based on the us locale of KeyboardJS */

@font-face {
	font-family: LinBiolinum_K;
	src: url('../fonts/LinLibertine/LinBiolinum_Kah.ttf');
}

kbd {
	font-family: sans-serif;
}

.key {
	font-family: LinBiolinum_K, Arial, Helvetica, sans-serif;
	font-style: normal;
}

/* If no key is specified, this rule will come in effect, to hint the developer. */
.key::before {
	content: '\fffd';
}

/* Use this class on normal letter keys or other keys that can be described with one character. */
.k-inline::before {
	content: none;
}

.k-left::before {
	content: '\2190';
}

.k-up::before {
	content: '\2191';
}

.k-right::before {
	content: '\2192';
}

.k-down::before {
	content: '\2193';
}

.k-space::before, .k-spacebar::before {
	content: '\e18c';
}

.k-escape::before, .k-esc::before {
	content: '\e195';
}

.k-f12::before {
	content: '\e183';
}
