/**
 *
 * Copyleft 2018, 2021 Bartavi (Bart Groeneveld)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 */

@import url("linlibertine_keys.css");

* {
	box-sizing: border-box;
}

:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

html {
	font-size: 13px;
	font-family: sans-serif;
	color: floralwhite;
}

body {
	background-color: rgb(56, 56, 56);
	margin: auto 1rem;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
}

h1 {
	font-variant: small-caps;
}

p {
	font-family: sans-serif
}

pre {
	font-family: monospace;
}

table {
	border-collapse: collapse;
	text-align: left;
}

tr, td {
	margin: 0;
	padding: 0;
}

th {
	padding-right: 1rem;
	text-align: left; /* Necessary due to IE11 */
}

table caption {
	caption-side: top;
	margin-bottom: 0.5rem;
}

button {
	font-family: sans-serif;
	width: 100%;
	height: 3rem;
	border-radius: 0.5rem;
	border: 0;
	background-color: dodgerblue;
	color: floralwhite;
	font-size: 1.2rem;
	box-shadow: 0.25rem 0.25rem 0.25rem black;
	cursor: pointer;
}

button:disabled {
	box-shadow: none;
	cursor: default;
}

button:enabled:hover, button:enabled:active, button:focus {
	box-shadow: 0.25rem 0.25rem 0.25rem rgb(15, 71, 128);
	outline: none;
}

button:enabled:active, button.active {
	/* Inset must be at the end, due to IE */
	box-shadow: 0 0 0.25rem black inset;
	outline: none;
}

fieldset {
	margin-left: 0;
	margin-bottom: 1.5rem;
	padding: 1rem;
	box-shadow: 0 0 0.5rem black;
	border: 0;
	border-radius: 0.5em;
	position: relative;
}

fieldset > fieldset {
	margin-top: 0.5rem;
	margin-right: 1rem;
}

legend {
	color: gainsboro;
	font-size: 0.75rem;
	background-color: rgb(56, 56, 56);
	border-radius: 0.5rem;
	padding: 0.1rem 0.3rem;
	display: inline;
	position: absolute;
	left: 1rem;
	top: -0.5rem;
}

label {
	margin-right: 1rem;
}

input, select {
	padding: 0.25rem;
	margin: 0.25rem;
	border-radius: 0.25rem;
	background-color: rgb(56, 56, 56);
	color:floralwhite;
	border: 1px solid black;
	width: 10rem;
	text-align: center;
	height: 2rem;
}

:enabled input:hover, :enabled select:hover {
	border-color: dimgray;
}

input:active, input:focus, select:active, select:focus {
	border-color: floralwhite;
}

a {
	color: inherit;
}

.preliminaryData {
	opacity: 0.67;
	font-style: italic;
}

.success {
	color: seagreen;
}

.warning {
	color: saddlebrown;
}

.error {
	color: firebrick;
}

.keyHints {
	font-style: normal;
}

.keyHints::before {
	content: ' (';
}

.keyHints::after {
	content: ')';
}

.vehicle {
	display: inline-block;
	margin: 0;
	position: absolute;
}

.ghost {
	opacity: 0.5;
}

h1 em:nth-child(3n-2) {
	color: orange;
}

h1 em:nth-child(3n-1) {
	color: greenyellow;
}

h1 em:nth-child(3n) {
	color: lightskyblue;
}

.noscript {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(56, 56, 56, 0.9);
	margin: 0;
	padding: 3rem;
	text-align: center;
	font-size: 3rem;
	color: rgb(255, 192, 192);
}

:disabled, .disabled, .disabled > *, .disabled input {
	opacity: 0.75;
	font-style: italic;
}
