<!DOCTYPE html>
<html>
<!-- See below (between head and body) for copyleft notice. -->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Project Motion - remweg</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/prm.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/applet_remweg.css" />
	<script src="node_modules/jquery/dist/jquery.min.js"></script>
	<script src="node_modules/vue/dist/vue.js"></script>
	<script src="node_modules/keyboardjs/dist/keyboard.min.js"></script>
</head>

<!--
	Note to self: do not put copyleft notice in or before head element.
-->
<!--
	Note to others: regardless of its position, the notice applies to whole document,
	including everything before and after the notice,
	including everything in, before and after the head element.
-->
<!--
	Copyleft 2018, 2021 Bartavi (Bart Groeneveld)
-->
<!--
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
-->
<!--
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
-->
<!--
	You should have received a copy of the GNU General Public License
	along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<!--
	End of copyleft notice.
-->

<body lang="nl" style="position: relative;">
	<noscript>
		<div class="noscript">
			Als je dit ziet, zet dan JavaScript aan.<br />
			(In Internet Explorer: "Geblokkeerde inhoud toestaan")
		</div>
	</noscript>
	<main role="main">
		<div id="app">
			<div id="world" :style="worldStyle">
				<div id="reaction-distance"
					style="border-radius: 0.25rem 0 0 0.25rem; position: absolute; margin: 0; bottom:2px; height: 27px; background: linear-gradient(to right, rgba(128, 0, 0, 0.5), rgba(255, 0, 0, 0.5))"
					:style="{left: displayOffset+'px', width: (brakeLeft-displayOffset)+'px'}">
				</div>
				<div id="brake-distance"
					style="border-radius: 0 1rem 1rem 0; position: absolute; margin: 0; bottom:2px; height: 27px; background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 255, 0, 0.3)); overflow: hidden;"
					:style="{left: brakeLeft+'px', width: (hypotheticalStopLeft-brakeLeft)+'px'}">
				</div>
				<div id="current-brake-distance"
					style="border-radius: 0 1rem 1rem 0; position: absolute; margin: 0; bottom:2px; height: 27px; overflow: hidden;"
					:style="{left: brakeLeft+'px', width: (vehicleLeft-brakeLeft)+'px'}">
					<div id="current-brake-distance-fill"
						style="position: relative; margin: 0; height: 100%; background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 255, 0, 0.5))"
						:style="{width: (hypotheticalStopLeft-brakeLeft)+'px'}">
					</div>
				</div>
				<prm-vehicle
					id="ghost-start" class="ghost"
					:width="vehicleWidthPixels" :left="displayOffset"
					:left-is-front="true">
				</prm-vehicle>
				<prm-vehicle id="ghost-brake" class="ghost"
					:width="vehicleWidthPixels" :left="brakeLeft"
					:left-is-front="true">
				</prm-vehicle>
				<prm-vehicle id="vehicle"
					:width="vehicleWidthPixels" :left="vehicleLeft"
					:left-is-Front="true">
				</prm-vehicle>
				<prm-vehicle id="collision-object"
					:width="vehicleWidthPixels" :left="collisionObjectLeft"
					:left-is-front="false" :color="collisionObjectColor">
				</prm-vehicle>
				<div id="result">
					<table id="time-distance">
						<tr>
							<th></th>
							<th>Tijd (s)</th>
							<th>Afstand (m)</th>
						</tr>
						<tr :class="{preliminaryData: !anyBrakeActivated}">
							<th>Reactie</th>
							<td>{{ brakedAfterTimeFromRequest | formatInt }}</td>
							<td>{{ brakedAfterDistance | formatInt }}</td>
						</tr>
						<tr :class="{preliminaryData: !brakingCompleted}">
							<th>Rem</th>
							<td>{{ currentBrakeTime | formatInt }}</td>
							<td>{{ currentBrakeDistance | formatInt }}</td>
						</tr>
						<tr :class="{preliminaryData: !stopped}">
							<th>Stop</th>
							<td>{{ brakedAfterTimeFromRequest + currentBrakeTime | formatInt }}</td>
							<td>{{ brakedAfterDistance + currentBrakeDistance | formatInt }}</td>
						</tr>
					</table>
					<p id="notice">
						<strong>
							<span class="warning" v-if="stopIsRequested && !anyBrakeActivated && !collided">Remmen!</span>
							<span class="warning" v-if="anyBrakeActivated && !stopped">
								&hellip;aan het remmen met {{effectiveDeceleration | formatInt }} m/s<sup>2</sup>&hellip;
							</span>
							<span class="success" v-if="brakingCompleted">&hellip;volledig geremd.</span>
							<span class="error" v-if="collided">
								&hellip;gebotst met {{ currentVelocity | formatInt }} m/s
								({{currentVelocity * 3.6 | formatInt }} km/h).
							</span>
						</strong>
					</p>
				</div>
			</div>
			<fieldset id="control">
				<legend>Bediening (werkt met muis, toetsenbord en presenter)</legend>
				<table>
					<tr>
						<td id="play-pause">
							<button v-if="world.runID == null && world.currentStep == 0" @click="startWorld()">Start</button>
							<button class="active" v-if="world.runID != null" @click="pauseWorld()">Pauzeer</button>
							<button v-if="world.runID == null && world.currentStep != 0" :disabled="stopped" @click="resumeWorld()">Verder&nbsp;gaan</button>
						</td>
						<td id="brake">
							<button
								:class="{active: anyBrakeActivated}"
								:disabled="stopped || !stopIsRequested || anyBrakeActivated"
								@click="brake()">
								Rem
							</button>
						</td>
						<td id="reset">
							<button @click="resetWorld()">Stel simulatie opnieuw in</button>
						</td>
					</tr>
				</table>
			</fieldset>
			<fieldset id="configuration" :disabled="configurationIsReadOnly" :class="{disabled: configurationIsReadOnly}">
				<legend>Instellingen (let op komma vs. punt)</legend>
				<fieldset>
					<legend>Basis</legend>
					<table>
						<tr>
							<td rowspan="2">
								<label for="initial-speed">Beginsnelheid:</label>
							</td>
							<td>
								<input
									type="number"
									id="initial-speed"
									v-model.number="configuration.initialVelocity"
									step="0.1"
									min="0.1"
								/>
							</td>
							<td>
								<label for="initial-speed">m/s</label>
							</td>
						</tr>
						<tr>
							<td>
								<input
									type="number"
									id="initial-speed-kmh"
									v-model.number="velocityAsKMH"
									step="0.1"
									min="0.1"
								/>
							</td>
							<td>
								<label for="initial-speed-kmh">km/h</label>
							</td>
						</tr>
						<tr>
							<td>
								<label for="road-friction">Wegdek:</label>
							</td>
							<td>
								<select id="road-friction" v-model.number="configuration.roadFriction">
									<option value="1.1">Droog beton</option>
									<option value="1">Droog asfalt</option>
									<option value="0.9">Droge klinkers</option>
									<option value="0.8">Nat beton</option>
									<option value="0.6">Nat asfalt</option>
									<option value="0.4">Natte klinkers</option>
									<option value="0.1">IJs</option>
								</select>
							</td>
						</tr>
					</table>
				</fieldset>
				<fieldset>
					<legend>Geavanceerd</legend>
					<table>
						<tr>
							<td><label for="auto-brake-after">Automatisch remmen na: </label></td>
							<td>
								<input
									id="auto-brake-after"
									type="number"
									v-model.number="configuration.autoBrakeAfter"
									step="0.1"
									min="0"
								/>
							</td>
							<td><label for="auto-brake-after">s</label></td>
						</tr>
						<tr>
							<td><label for="safe-reaction-time">Veilige reactietijd: </label></td>
							<td>
								<input
									id="safe-reaction-time"
									type="number"
									v-model.number="configuration.expectedReactionTime"
									step="0.1"
									min="0"
								/>
							</td>
							<td><label for="safe-reaction-time">s</label></td>
						</tr>
						<tr>
							<td><label for="step-base">Stappen per seconde: </label></td>
							<td>
								<input
									id="step-base"
									type="number"
									v-model.number="configuration.stepBase"
									step="1"
									min="10"
									max="60"
								/>
							</td>
						</tr>
					</table>
				</fieldset>
			</fieldset>
		</div>
	</main>
	<footer role="contentinfo">
		<small>
			<a href="index.html">Overzicht applets</a>
			&horbar; <a href="copying.html" data-jslicense="1">Copyleft 2021 Bartavi (Bart Groeneveld)</a>
			&horbar; Nieuwsgiering naar hoe dit werkt? Druk op <i class="key k-f12"></i>.
		</small>
	</footer>
	<script src="js/prm.js"></script>
	<script src="js/applet_remweg.js"></script>
</body>

</html>
